* {
  font-family: "Shadows Into Light", cursive;
  font-weight: 800;
  font-style: italic;
  font-size: 1.3rem;
}

.content h1 {
  position: relative;
}
.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3)),
  linear-gradient(rgba(0, 0, 0, 0.5)), url("./../images/numbers.jpg");
  background-size: cover;
  background-position: center center;
}

input {
  background-color: transparent;
  color: white;
  width: 50%;
  padding: 10px;
  font-size: 30px;
}
.guess h1 , .content label{
  animation-name: flip;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}
@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.inputs input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  box-sizing: border-box;
  font-size: 18px;
  left: 0%;
  padding: 10px 0px;
  position: relative;
  top: 50%;
  width: 50px;
  animation: lines 0.5s linear infinite;
}
input:focus {
  outline: none;
}
@keyframes lines {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.winner{
  background: rgba(0, 0, 0, 0.3);
}
.lose{
  background: rgba(0, 0, 0, 0.3);
}